@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px 15px;
  }

  nav {
    width: 100%;
  }

  .navbar ul {
    justify-content: space-around;
  }

  .navbar li {
    padding: auto 100px;
  }

  .navbar a {
    padding: 10px;
    text-align: center;
    display: inline;
  }

  .hero .content h1 {
    font-size: 30px;
  }

  .hero .content h2 {
    margin-top: 15%;
    font-size: 14px;
  }

  .hero .content .description-animation {
    font-size: 30px;
  }

  .flex-box .section-content {
    flex-direction: column;
    padding: 10px 30px;
  }

  .about-container h1 {
    padding: 5px 13px;
  }

  .flex-box .section-content .image {
    height: 270px;
    padding: 5px 10px;
    margin: 20px auto;
  }

  .flex-box p {
    font-size: 15px;
    text-align: left;
    margin: 5px 0;
  }
}
